.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  background-color: #ffffff;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.06);
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
