.header {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
  align-items: center;
  padding: 6px 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logout-button {
  background-color: rgb(255, 0, 0);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  height: fit-content;
}
